@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 1rem;
	background-color: rgba(255, 255, 255, 0);
	@media (max-width: 768px) {
		padding: 1rem;
	}
}

.title {
	font-size: 1.875rem; // text-3xl
	font-weight: 700;
	color: var(--color-text-primary);
	padding: $spacing-4;
	margin-bottom: $spacing-6;
}

.content {
	color: var(--color-text-secondary);
	line-height: 1.625;

	p {
		margin-bottom: $spacing-4;
	}

	strong {
		color: var(--color-text-primary);
		font-weight: 600;
	}
}

.list {
	list-style-type: disc;
	padding-left: $spacing-5;
	margin-top: $spacing-4;

	li {
		margin-bottom: $spacing-2;
	}
}
