@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.panel {
	color: var(--color-text-primary);
	border-radius: $radius-xl;
	box-shadow: $shadow-md;
	overflow: hidden;
	padding: $spacing-4;
	@include theme-transition;
	background: rgba(var(--color-text-primary), 0.15);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: $radius-xl;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
